html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.buttonRoll {
    background-color: gold;
    font-size: 50px;
    color: black;
    border: 5px solid black;
    text-decoration: none;
}
   

.slot-table{

    font-size: 40px;
    border-collapse: collapse; /* Ensures borders appear as a grid */
}

.cells {
    border: 2px solid black; /* Gridlines */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* Optional: Padding for better readability */
    text-align: center; /* Center text in cells */
}


.centerr {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    margin: 0;
}